/* Nav Bar CSS */
.navbar-brand{
    text-align:center;}

/* Header CSS */



/* Section CSS */
.col-md-8{
          text-align:center; 
    
}
#me{
    height:200px;
    margin: auto;
}
h8
{text-align:center

;}

/* About Section CSS */



/* Portfolio Item CSS */



/* Footer CSS */



/* Button CSS */


