/* Nav Bar CSS */
.nav-item{text-align:center;}

/* Header CSS */



/* Section CSS */
.col-md-8{text-align:center; }
#me{height:200px;
    margin: auto;
    border:
}
h8
{text-align:center;}

/* About Section CSS */



/* Portfolio Item CSS */



/* Footer CSS */



/* Button CSS */


